.css-Box-38lr5y { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
  -webkit-flex-direction: var(--css-Box-38lr5y-0);
  -ms-flex-direction: var(--css-Box-38lr5y-0);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: var(--css-Box-38lr5y-0);
  -webkit-flex-grow: var(--css-Box-38lr5y-1);
  -ms-flex-positive: var(--css-Box-38lr5y-1);
  flex-grow: var(--css-Box-38lr5y-1);
  -webkit-justify-content: var(--css-Box-38lr5y-2);
  -ms-flex-pack: var(--css-Box-38lr5y-2);
  -webkit-box-pack: var(--css-Box-38lr5y-2);
  justify-content: var(--css-Box-38lr5y-2);
  -webkit-align-items: var(--css-Box-38lr5y-3);
  -ms-flex-align: var(--css-Box-38lr5y-3);
  -webkit-box-align: var(--css-Box-38lr5y-3);
  align-items: var(--css-Box-38lr5y-3);
  -webkit-flex-wrap: var(--css-Box-38lr5y-4);
  -ms-flex-wrap: var(--css-Box-38lr5y-4);
  -webkit-box-lines: var(--css-Box-38lr5y-4);
  flex-wrap: var(--css-Box-38lr5y-4);
  -webkit-flex-grow: var(--css-Box-38lr5y-5);
  -ms-flex-positive: var(--css-Box-38lr5y-5);
  flex-grow: var(--css-Box-38lr5y-5); }
.css-Row-9ur1b { -webkit-flex-direction: row; -ms-flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; }
.css-Column-jvj7uf { -webkit-flex-direction: column; -ms-flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }