.css-m8grug { margin: 0;
  font-family: Gill Sans, sans-serif;
  text-transform: var(--css-m8grug-0);
  font-size: var(--css-m8grug-1);
  color: var(--css-m8grug-2);
  font-weight: var(--css-m8grug-3);
  -webkit-transition: color .3s ease;
  transition: color .3s ease; }