.css-GridCell-13d1ls3 { min-width: 250px;
  max-width: var(--css-GridCell-13d1ls3-0);
  padding: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-right: var(--css-GridCell-13d1ls3-1);
  -webkit-flex-grow: var(--css-GridCell-13d1ls3-2);
  -ms-flex-positive: var(--css-GridCell-13d1ls3-2);
  flex-grow: var(--css-GridCell-13d1ls3-2);
  width: 100%; }