.css-CardContainer-1i87wos { overflow: hidden;
  margin: 10px 0 5px; }
.css-StyledCard-1xe0fvo { background-size: cover;
  padding: 0 0 0 10px;
  min-width: var(--css-StyledCard-1xe0fvo-0);
  max-width: var(--css-StyledCard-1xe0fvo-1);
  height: 50px;
  background-image: var(--css-StyledCard-1xe0fvo-2); }
.css-Emblem-tli2tk { width: 34px;
  height: 34px;
  -webkit-filter: var(--css-Emblem-tli2tk-0);
  filter: var(--css-Emblem-tli2tk-0); }
.css-Container-1tvzfh9 { text-align: left;
  margin-left: 10px;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }