.css-StickyHeader-1hv4lev { top: 139px;
  margin-left: -40px;
  z-index: 200;
  position: -webkit-sticky;
  position: -webkit-sticky;
  position: sticky;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.css-HeaderRow-1yjlxu3 { padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--css-HeaderRow-1yjlxu3-0);
  background-color: var(--css-HeaderRow-1yjlxu3-1); }