.css-Bucket-18d6ei0 { min-width: var(--css-Bucket-18d6ei0-0);
  max-width: var(--css-Bucket-18d6ei0-1); }
.css-ItemContainer-8lheha { position: absolute;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 5px 5px 0;
  border-radius: 4px; }