.css-Item-cm62k2 { width: 45px;
  height: 45px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid var(--css-Item-cm62k2-0); }