.css-StyledRow-w37rjg { position: relative;
  background-color: white;
  margin: -5px 0;
  -webkit-transition: opacity, min-height .5s ease;
  transition: opacity, min-height .5s ease; }
.css-ItemRow-1yk0b44 { margin-right: -10px; }