.css-SearchBox-nx3367 { padding: 0;
  border-radius: 4px;
  width: 50%;
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: var(--css-SearchBox-nx3367-0); }
.css-FocusedSearchBoxBg-1yduhdd { position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background-color: var(--css-FocusedSearchBoxBg-1yduhdd-0);
  box-shadow: var(--css-FocusedSearchBoxBg-1yduhdd-1);
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  opacity: var(--css-FocusedSearchBoxBg-1yduhdd-2);
  z-index: 2; }
.css-SearchIcon-75vrsc { margin: 0 8px !important;
  color: var(--css-SearchIcon-75vrsc-0) !important;
  z-index: 3; }
.css-TextBox-oxizn8 { z-index: 3; }
.css-TextBox-oxizn8 div { color: var(--css-TextBox-oxizn8-0) !important; }
.css-TextBox-oxizn8 input { color: var(--css-TextBox-oxizn8-1) !important; }