.css-TopBar-agko1c { border-bottom: 1px solid var(--css-TopBar-agko1c-0) !important;
  padding-left: 50px !important;
  position: fixed !important;
  top: 0 !important; }
.css-SignInButton-65gjvg span {
    font-size: 16px !important;
}
@keyframes animation-spin-1tcpere { from {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    -ms-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 179deg);
    -ms-transform: rotate3d(0, 0, 1, 179deg);
    transform: rotate3d(0, 0, 1, 179deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 359deg);
    -ms-transform: rotate3d(0, 0, 1, 359deg);
    transform: rotate3d(0, 0, 1, 359deg);
  } }
.css-ReloadIcon-1k3xthm { -webkit-transition: all .3s linear; transition: all .3s linear;
  -webkit-animation: var(--css-ReloadIcon-1k3xthm-0) 1s linear infinite;
  animation: var(--css-ReloadIcon-1k3xthm-0) 1s linear infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
.css-App-1lp3kjk { margin-right: 28px; }
.css-App-1irnx94 { margin-right: -15px }